<ion-text class="top-round"></ion-text>

<ion-content class="auth-page">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card class="login-card">
          <ion-card-header> FORGOT PASSWORD?</ion-card-header>
          <ion-text class="desc-text"
            >No worries—secure your account with a quick password
            reset!</ion-text
          >
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-input placeholder="email@domain.com">
                  <ion-icon
                    slot="start"
                    name="mail"
                    color="primary"
                    aria-hidden="true"
                  ></ion-icon>
                </ion-input>
              </ion-item>
            </ion-list>

            <ion-button
              color="primary"
              shape="round"
              fill="solid"
              expand="block"
              [routerLink]="['/pages/home']"
              >SUBMIT</ion-button
            >
          </ion-card-content>

          <ion-text class="member-text">
            Back to<strong [routerLink]="['/login']"> Login</strong>
          </ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
